img{
    max-width: 300px;
}

body{
    background-color: black;
}

h1{
    background-color: darkgoldenrod;
}

h2{
    background-color: cyan;
}
h3{
    background-color: fuchsia;
}

li{
    background-color: darkorchid;
}