header, main, footer {
    border: 1px solid goldenrod;
    margin: 10px;
    padding: 10px;
}

img {
    max-width:500px;
   }
    
.imageContainer{
    position:relative;
   }
    
.imageContainer .imageCaption{
    position:absolute;
    margin:0;
    background:white;
    border:1px solid black;
    top:10px;
    left:10px;
    padding:10px;
   }

main{
    max-width: calc(75% - 58px);
    float: left;
}

aside{
    max-width: calc(75% - 50px);
    float: left;
}

footer{
    clear: both;
}
